@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* sharedstyle */

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border:none;


}
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}
.nav-links{
    text-decoration: none;
}

.nav-lists{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
   text-decoration: none;
   font-weight: 500px;
}
.navbar{
    justify-content:space-between;
    align-items: center;
}

.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.brand{
    font-weight: 700px;
    font-size:3rem;
}
 .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

 }
 .banner-tittle{
    font-weight: 700;
    font-size: 4rem;
 }

 /* reponsive */
 @media screen and (max-width:576px) {
    .nav-lists, .navbar{
        flex-direction: column;
    }
    
 }

